<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.judy.common.mapper.OldFileMapper">
	<select id="getOldFiles"
		resultType="org.judy.common.util.NoticeFileDTO">
	<![CDATA[
	select * from tbl_notice_file where uploadPath =  date_format(date_sub(now(), interval 1 day), '%y\%m\%d')
	]]>
	</select>
</mapper>