<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.judy.store.mapper.StoreMapper">

	<select id="getStore" resultType="org.judy.store.domain.Store">
		<![CDATA[
  		select * from tbl_store where mid = #{mid} and enable = 1
  		]]>
	</select>

	<select id="getStoreOne" resultType="org.judy.store.domain.Store">
		<![CDATA[
  		select * from tbl_store where sno = #{sno}
  		]]>
	</select>

	<select id="findByMid" resultType="org.judy.store.domain.DocumentFile">
		<![CDATA[
  		select * from tbl_document where mid = #{mid}
  		]]>
	</select>

	<insert id="insertStore">
		<selectKey resultType="Integer" keyProperty="sno" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<![CDATA[
  		insert into tbl_store (sno, mid , sname , lat , lng , address , category,logoImg) values (#{sno}, #{mid} , #{sname} , #{lat} , #{lng} , #{address} , #{category},#{logoImg})
  		]]>
	</insert>
	
	<insert id="insertStoreImg">
	<![CDATA[
	insert into tbl_store_img (suuid, sno, suploadPath, sfileName) values(#{suuid},#{sno},#{suploadPath},#{sfileName})
	]]>
	</insert>
	
	<delete id="deleteStoreImg">
		<![CDATA[
  		delete from tbl_store_img where sno= #{sno}
  		]]>
	</delete>
	
	<select id ="getStoreImage" resultType="org.judy.common.util.ManagerFileDTO">
	<![CDATA[
	select * from tbl_store_img where sno = #{sno}
	]]>	
	</select>

	<update id="updateStore">
	<![CDATA[
	update tbl_store set sname= #{sname}, lat = #{lat} , lng=#{lng}, address = #{address}, category = #{category}, logoImg = #{logoImg} where sno = #{sno} 
	]]>
	</update>
	
	<update id="delStore">
		<![CDATA[
  		update tbl_store set enable = 0 where sno = #{sno}
  		]]>
	</update>

	<delete id="deleteDoc">
		<![CDATA[
  		delete from tbl_document where muuid= #{muuid}
  		]]>
	</delete>
	
	<!-- MENU -->
	
	<select id="menuSname" resultType="string">
	<![CDATA[
	select sname from tbl_store
	where sno = #{sno}
	]]>
	</select>
	
	<select id="getMenu" resultType="org.judy.store.domain.Menu">
		<![CDATA[
		select ts.mid mid,tsm.mno mno, tsm.sno sno, menuName, mPrice, content, mImg, cno from tbl_store ts
		right join tbl_store_menu tsm on ts.sno = tsm.sno
		where tsm.sno = #{sno} and cno = #{cno} and mid = #{mid}
		]]>
	</select>
	
	<select id="getOneMenu" resultType="org.judy.store.domain.Menu">
		<![CDATA[
		select * from tbl_store_menu where mno = #{mno}
		]]>
	</select>
	
	<insert id="insertMenu">
		<selectKey resultType="Integer" keyProperty="mno" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<![CDATA[
  		insert into tbl_store_menu (mno , sno , menuName ,content , mprice , mimg , cno	) values (#{mno} , #{sno} ,#{menuName} , #{content} , #{mprice} , #{mimg} , #{cno})
  		]]>
	</insert>
	
	<delete id="delMenu">
		<![CDATA[
  		delete from tbl_store_menu where mno= #{mno}
  		]]>
	</delete>
	
	<update id="updateMenu">
		<![CDATA[
  		update tbl_store_menu set menuName= #{menuName}, content = #{content} , mprice=#{mprice}, mimg = #{mimg}, cno = #{cno} where mno = #{mno}
  		]]>
	</update>
	
	<!-- TOPPING -->
	
	<select id="getTopping" resultType="org.judy.store.domain.Topping">
		<![CDATA[
		select * from tbl_store_topping where sno = #{sno}
		]]>
	</select>
	
	<select id="getOneTopping" resultType="org.judy.store.domain.Topping">
		<![CDATA[
		select * from tbl_store_topping where tno = #{tno}
		]]>
	</select>
	
	<insert id="insertTop">
		<selectKey resultType="Integer" keyProperty="tno" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		<![CDATA[
  		insert into tbl_store_topping (tno ,sno , tname , tprice , timg 	) values (#{tno} ,#{sno} ,#{tname} , #{tprice} , #{timg})
  		]]>
	</insert>

	<delete id="delTop">
		<![CDATA[
  		delete from tbl_store_topping where tno= #{tno}
  		]]>
	</delete>
	
	<update id="updateTop">
		<![CDATA[
  		update tbl_store_topping set tprice= #{tprice}, timg = #{timg} , tname = #{tname}  where tno = #{tno}
  		]]>
	</update>
	
	<select id="selectedTop" resultType="org.judy.store.domain.Topping">
		<![CDATA[
		select tst.sno, tst.tno , tst.tPrice , tst.tImg , tst.tName from tbl_menu_topping tmt
		left join tbl_store_topping tst on tmt.tno = tst.tno
		where tmt.mno = #{mno}
		]]>
	</select>
	
	<select id ="unSelectTop" resultType="org.judy.store.domain.Topping">
		<![CDATA[
		select distinct tst.tno , tst.tPrice , tst.tImg , tst.tName from tbl_store_topping tst
		where sno = #{sno} and (tst.tno , tst.tPrice , tst.tImg , tst.tName ) NOT IN (select tst.tno , tst.tPrice , tst.tImg , tst.tName from tbl_menu_topping tmt
		left join tbl_store_topping tst on tmt.tno = tst.tno
		where tmt.mno = #{mno})
	]]>
	</select>
	
	<delete id="exceptTop">
		<![CDATA[
		delete from tbl_menu_topping where tno = #{tno} and mno = #{mno}
		]]>
	</delete>
	
	<insert id="addTop">
		<![CDATA[
		insert into tbl_menu_topping (mno , tno) values (#{mno} , #{tno})
		]]>
	</insert>
	
	

</mapper>